body{
    font-family: 'Arvo', serif;

}
/** nav bar **/

.nav-item{
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}
.dropdown-item{
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}
.my_footer{
    background-color: #CD853F;
    height: 60px;
}
.my_footer p{
    padding-top: 20px;
    font-size: 15px;
}

/** category **/
.my_row .mx_auto{
    padding-top: 20px;
    color: #000;
    font-size: 50px;
}

.my_image{
    width: 100%;
    height: 50%;
    object-fit: contain;

}
.my_name{
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
    text-transform: uppercase;
}
.my_botton_margin{
    margin-bottom:20px;
}

.card-body h4{
    font-size:30px;
    test-transform: uppercase;

}
.my_product{
    padding-top:15px;
    padding-bottom:20px;
}

.my_product .mx_auto{
    color: #000;
    font-size: 30px;
    text-decoration: none;
}

.my_pro_title{
    font-size:30px;
    text-transform: uppercase;
    font-family: 'Spicy Rice', cursive;
    font-weight: bold;
    padding-top:15px;
    padding-bottom:15px;

}
.my_price{
    font-size:30px;
    font-family: 'Bebas Neue', sans-serif;
}
.my_stock{
    font-size:25px;
    color: #FF0000;
    font-family: 'Arvo', serif;
    font-weight: bold;
}
.my_search_text{
    padding-top:20px;
}
/** cart **/
.my_custom_table{
    min-width:40px;
    font-size:14px;
}
.my_custom_thead{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1em;
    color: white;
    background-color: black;
    font-family: 'IM Fell Great Primer SC', serif;

}
.custom_a{
    text-decoration: none;

}
.custom_icon{
    text-decoration: none;
    color: #2F4F4F !important;
}
.my_custom_button{
    margin-top:15px;
}